-
  var heroDefault = { dataId: 11111, label: 'all', image: 'https://picsum.photos/id/200/800/600.webp' }
  var heroCheckboxList = [
    { lockedChecked: false, dataId: 12345, label: 'fresh',    image: 'https://picsum.photos/id/520/800/600.webp' },
    { lockedChecked: false, dataId: 23444, label: 'tropical', image: 'https://picsum.photos/id/521/800/600.webp' },
    { lockedChecked: false, dataId: 34555, label: 'fruity',   image: 'https://picsum.photos/id/522/800/600.webp' },
    { lockedChecked: true, dataId: 45666, label: 'spicy',    image: 'https://picsum.photos/id/523/800/600.webp' },
    { lockedChecked: false, dataId: 56777, label: 'smoky',    image: 'https://picsum.photos/id/524/800/600.webp' },
    { lockedChecked: false, dataId: 67888, label: 'creamy',   image: 'https://picsum.photos/id/525/800/600.webp' },
  ]

  var heroFilterList = [
    { lockedChecked: false, dataId: 999333, label: 'fizzy' },
    { lockedChecked: false, dataId: 999444, label: 'on the rocks' },
    { lockedChecked: false, dataId: 999555, label: 'tall' },
  ]

  var heroSortList = [
    { lockedChecked: false, dataId: 999333, label: 'latest' },
    { lockedChecked: false, dataId: 999444, label: 'most popular' },
    { lockedChecked: false, dataId: 999555, label: 'trending' },
  ]

.accessible-filter
  // show ALL items
  input.accessible-filter__hero-checkbox-input(
    type="checkbox"
    data-id=0
    id=`toggle-input-type`
  )

  // show ALL items
  input.accessible-filter__hero-checkbox-input(
    type="checkbox"
    data-id=0
    id=`selectable-input-default`
  )

  // selectable item list of flavours
  each heroCheckbox, key in heroCheckboxList
    input.accessible-filter__hero-checkbox-input--selectable(
      type="checkbox"
      data-id=heroCheckbox.dataId
      data-type="selectable"
      id=`selectable-input-${key}`
    )

  // locked item list of flavours
  each heroCheckbox, key in heroCheckboxList
    input.accessible-filter__hero-checkbox-input--locked(
      type="checkbox"
      data-id=heroCheckbox.dataId
      data-type="locked"
      onclick="return false"
      id=`locked-input-${key}`
      checked=heroCheckbox.lockedChecked
    )

  // selectable item list of characteristics
  each heroFilter, key in heroFilterList
    input.accessible-filter__hero-filter-input--selectable(
      type="checkbox"
      data-id=heroFilter.dataId
      data-type="selectable"
      id=`selectable-filter-${key}`
    )

  // locked item list of characteristics
  each heroFilter, key in heroFilterList
    input.accessible-filter__hero-filter-input--locked(
      type="checkbox"
      data-id=heroFilter.dataId
      data-type="locked"
      onclick="return false"
      id=`locked-filter-${key}`
      checked=heroFilter.lockedChecked
    )

  // selectable item list of sorting
  each heroSortBy, key in heroSortList
    input.accessible-sort-by__hero-sort-input--selectable(
      type="radio"
      name="sort-by"
      data-id=heroSortBy.dataId
      data-type="selectable"
      id=`selectable-sort-${key}`
    )

  // locked item list of sorting
  each heroSortBy, key in heroSortList
    input.accessible-sort-by__hero-sort-by-input--locked(
      type="radio"
      name="sort-by"
      data-id=heroSortBy.dataId
      data-type="locked"
      onclick="return false"
      id=`locked-sort-by-${key}`
      checked=heroSortBy.lockedChecked
    )

  .accessible-filter__hero
    .accessible-filter__hero-image-wrapper
      img.accessible-filter__hero-image(
        src=heroDefault.image
      )
      each heroCheckbox, key in heroCheckboxList
        img.accessible-filter__hero-image(
          src=heroCheckbox.image
          data-for=`selectable-input-${key}`
          loading="lazy"
        )

    .accessible-filter__hero-checkbox-hero-wrapper
      h1.accessible-filter__hero-checkbox-list-title FRESH cocktails

      .accessible-filter__hero-checkbox-list-wrapper
        .accessible-filter__hero-checkbox-list--selectable
          label.accessible-filter__hero-checkbox-item(
            for="selectable-input-default"
          )= heroDefault.label

          each heroCheckbox, key in heroCheckboxList
            label.accessible-filter__hero-checkbox-item(
              for=`selectable-input-${key}`
            )= heroCheckbox.label
        .accessible-filter__hero-checkbox-list--locked
          label.accessible-filter__hero-checkbox-item(
            for="toggle-input-type"
          )= heroDefault.label

          each heroCheckbox, key in heroCheckboxList
            label.accessible-filter__hero-checkbox-item(
              for="toggle-input-type"
            )= heroCheckbox.label

  main
    .accessible-filter__side 
      .accessible-filter__side-header
        .accessible-filter__side-header-title my Flavour Profile 
        label.accessible-filter__side-header-toggle(
          for=`toggle-input-type`
        )
        .accessible-filter__side-header-info
          | Based on your #{' '}
          span Flavor Profile
          | , we'll display cocktails that are a good match for you.
      .accessible-filter__side-action
        h3.accessible-filter__side-action--title filter
        h3.accessible-filter__side-action--title characteristics
        // selectable item list of characteristics
        each heroFilter, key in heroFilterList
          label.accessible-filter__hero-filter-label--selectable(
            data-id=heroFilter.dataId
            data-type="selectable"
            for=`selectable-filter-${key}`
          )= heroFilter.label

        // locked item list of characteristics
        each heroFilter, key in heroFilterList
          label.accessible-filter__hero-filter-label--locked(
            data-id=heroFilter.dataId
            data-type="locked"
            onclick="return false"
            for=`locked-filter-${key}`
          )= heroFilter.label

        h3.accessible-filter__side-action--title sort by

        // selectable item list of sorting
        each heroSortBy, key in heroSortList
          label.accessible-sort-by__hero-sort-label--selectable(
            data-id=heroSortBy.dataId
            data-type="selectable"
            for=`selectable-sort-${key}`
          )= heroSortBy.label

        // locked item list of sorting
        each heroSortBy, key in heroSortList
          label.accessible-sort-by__hero-sort-by-label--locked(
            data-id=heroSortBy.dataId
            data-type="locked"
            for=`locked-sort-by-${key}`
          )= heroSortBy.label
    .accessible-filter__main rezultate
