doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body 
    h1 responsive 

    div
      picture
        // WebP sources
        source(
          media="(max-width: 480px)"
          srcset="https://picsum.photos/id/225/200/300.webp"
          type="image/webp"
        )
        source(
          media="(max-width: 768px)"
          srcset="https://picsum.photos/id/225/400/600.webp"
          type="image/webp"
        )
        source(
          srcset="https://picsum.photos/id/225/800/1200.webp"
          type="image/webp"
        )

        // JPEG sources as fallback
        source(
          media="(max-width: 480px)"
          srcset="https://picsum.photos/id/225/200/300.jpg"
          type="image/jpeg"
        )
        source(
          media="(max-width: 768px)"
          srcset="https://picsum.photos/id/225/400/600.jpg"
          type="image/jpeg"
        )
        img(
          src="https://picsum.photos/id/225/800/1200.jpg"
          alt="Description"
        )
