-
  var itemList = [
    { id: 1, dataId: 111, label: 'Fruity', description: 'Ranges from light and floral, like crisp pears, to the earthy freshness of pine and moss.' },
    { id: 2, dataId: 112, label: 'Peaty', description: 'Distinctive earthy and organic character, reminiscent of a wet mossy terrain or recently turned soil.' },
    { id: 3, dataId: 113, label: 'Sweet', description: 'Evokes flavors of honey, vanilla, or caramel, reminiscent of a sugary treat or dessert.' },
    { id: 4, dataId: 114, label: 'Spicy', description: 'Hints of pepper, cloves, or cinnamon that tingle the palate, offering warmth and complexity.' },
    //- { id: 5, dataId: 115, label: 'Malty', description: 'Brings forward the rich, grainy flavors typical of malted barley, like toasted bread or cereal.' },
    //- { id: 6, dataId: 116, label: 'Nutty', description: 'Emulates flavors of almonds, walnuts, or hazelnuts, giving a deep, earthy profile.' },
    //- { id: 7, dataId: 117, label: 'Smokey', description: 'Characterized by a lingering aroma and flavor of wood smoke, as if from a campfire or burning embers.' }
  ]


form.hero-carousel(
  data-savedata="False"
  data-profile="Cocktail"
  data-taxonomy="Flavour"
  data-maxitems="2"
)
  h1.hero-carousel__title WHAT FLAVOURS ARE YOU FEELING?

  // list of input type checkbox - START
  // id: 1, 2, 3 ... 7
  // data-id: the id from the database, it gets picked up in the form submit event
  each item in itemList
    input.hero-carousel__item-selector(
      type="checkbox"
      id=`hero-carousel-${item.id}`
      name=`hero-carousel-${item.id}`
      data-id=item.dataId
      value=item.label
      autofocus=item.id === 1
    )
  // list of input type checkbox - END

  // list of background images - START
  .hero-carousel__background-list 
    each item in itemList
      img.hero-carousel__background(
        alt=`hero carousel image ${item.id}`
        src=`https://picsum.photos/id/${(item.id+100)}/800/600.webp`
        loading="lazy"
      )
    .hero-carousel__background-effect
  // list of background images - END

  .hero-carousel__info-wrapper
    p.hero-carousel__info Please select up to 2 flavours
    .hero-carousel__selected /2#{')'}



  // list of label tags that REMOVES from selection a selected flavour - START
  // the for attribute must match the id attribute of the input type checkbox
  // example: 1, 2, 3, ... 7
  // style=`--bg: url('YOUR IMAGE PATH IN HERE')
  .hero-carousel__item-selected-list
    each item in itemList 
      label.hero-carousel__item-remove(
        for=`hero-carousel-${item.id}`
        style=`--bg: url('https://picsum.photos/id/${item.id}/200/300.webp')`
      )
        span= `${item.label} ${item.id}`
        .jw-icon-cross
  // list of label tags that check or uncheck the visually hidden inputs - END
  .hero-carousel__current(
    data-howmany="0"
  ) of 

  // list of label tags that check or uncheck the visually hidden inputs - START
  // the for attribute must match the id attribute of the input type checkbox
  // example: 1, 2, 3, ... 7
  // style=`--bg: url('YOUR IMAGE PATH IN HERE')
  .hero-carousel__item-grid 

    .hero-carousel__item-list 
      each item in itemList 
        label.hero-carousel__item(
          for=`hero-carousel-${item.id}`
          style=`--bg: url('https://picsum.photos/id/${item.id+50}/200/300.webp')`
        )
          span.hero-carousel__item-title= `${item.label} ${item.id}`
          .hero-carousel__item-check
          .hero-carousel__item-checked
            span select
            span.hero-carousel__item-checked--on ed
  // list of label tags that check or uncheck the visually hidden inputs - END

  // list of descriptions that show when an input of type checkbox becomes focused - START
  .hero-carousel__item-description-list
    each item in itemList 
      p.hero-carousel__item-description= item.description
  // list of descriptions that show when an input of type checkbox becomes focused - END

  .hero-form__link--next
    a(
      href="#"
      title="next"
    ) Next

  .hero-form__link--previous
    a(
      href="#"
      title="previous"
    ) Previous

  .hero-form__link--skip
    a(
      href="#"
      title="Skip"
    ) Skip

  .hero-carousel__nav
    button.hero-carousel__nav--left(
      type="button"
      data-direction="left"
    )
      span.jw-icon-chevron-left
    button.hero-carousel__nav--right(
      type="button"
      data-direction="right"
    )
      span.jw-icon-chevron-right

